<section class="container SearchView">
	{% include "help_text.html" %}

	<h4>Digite sua pesquisa:</h4>
	<form data-action="{{ action }}" data-view="FormRouterView">
		<ul data-view="BooleanTokenView" data-token-list="{{ token_list }}" data-name="{{ search_id }}" data-route="{{ search_url|safe }}" data-translator="{{ translate_url }}" data-form-control data-default="{{ default_unit }}" id="{{ search_id }}-control"{% if expression_index %} data-expression-index="{{ expression_index }}"{% endif %}>
		{% if expression %}
		{{ expression|safe }}
		{% endif %}
		</ul>
		{% if extra_fields %}
		<fieldset class="extra-fields">
			{% for field in extra_fields %}
			<div>{{ field }}</div>
			{% endfor %}
		</fieldset>
		{% endif %}
		<div class="buttons left">
			<button type="button" class="btn btn-warning" data-token-show-list="{{ search_id }}-control">Inserir campo</button>
			<button type="button" class="btn btn-danger" data-token-clear="{{ search_id }}-control" data-view="RouterView" data-router data-route-uri="{{ index_url }}">Limpar</button>
		</div>
		<div class="buttons right">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target=".SearchViewHelp">Ajuda</button>
			<button type="submit" class="btn btn-primary">Pesquisar</button>
		</div>
		<div class="clearfix"></div>
	</form>
</section>
