<section class="container SearchView">
	<div class="SearchViewHelp modal fade" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h4>Ajuda</h5>
				</div>
				<div class="modal-body">
					<div class="col-md-6">
						<h5>Comandos</h5>
						<ul class="list-group">
							<li class="list-group-item"><span class="ui-icon ui-icon-arrowthick-1-s"></span> - exibir unidades de pesquisa</li>
							<li class="list-group-item"><span class="ui-icon ui-icon-arrowthick-1-s"></span>, <span class="ui-icon ui-icon-arrowthick-1-n"></span> - navegar pelas unidades de pesquisa</li>
							<li class="list-group-item"><span class="ui-icon ui-icon-arrowthickstop-1-e"></span> - inserir unidade de pesquisa selecionada</li>
							<li class="list-group-item"><span class="ui-icon ui-icon-arrowthickstop-1-e"></span>, Shift +<span class="ui-icon ui-icon-arrowthickstop-1-e"></span> - navegar pelos campos das unidades de pesquisa</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h5>Operadores</h5>
						<ul class="list-group">
							<li class="list-group-item"><strong>OU</strong> - +, |</li>
							<li class="list-group-item"><strong>E</strong> - *, /, &</li>
							<li class="list-group-item"><strong>NÃO</strong> - !</li>
							<li class="list-group-item"><strong>Parênteses</strong> - (, )</li>
						</ul>
						<p><small>Obs.: da menor para a maior precedência.</small></p>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>


	<form data-action="{{ action }}" data-view="FormRouterView">
		<ul data-view="BooleanTokenView" data-filters="{{ template_key }}" data-name="{{ form_name }}" data-route="{{ route }}(.*)$" data-translator="{{ translate_route }}" data-form-control data-default="{{ default_unit }}">
		{% if expr %}
		{{ expr|safe }}
		{% endif %}
		</ul>
		<div class="buttons left">
			<button type="button" class="btn btn-info" data-insert>Inserir</button>
			<button type="button" class="btn btn-info" data-clear>Limpar</button>
		</div>
		<div class="buttons right">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target=".SearchViewHelp">Ajuda</button>
			<button type="submit" class="btn btn-primary">Pesquisar</button>
		</div>
		<div class="clearfix"></div>
	</form>
</section>
